
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./styles/styles.css" />
    <title>Product</title>
  </head>
  <body>

    <section>
        <h1>Product: {{title}}</h1>

        <h2>Price: {{price}}€</h2>

        {{#if imageFile}}
        <img src="/images/{{imageFile}}" alt="{{title}}" />
        {{else}}
        <img src="https://via.placeholder.com/600x400" alt="{{title}}" />
        {{/if}}

        <section>

            {{#if stores}}
            <h5>This product is available in the following stores:</h5>

            <ul>
                {{#each stores}}
                <li>
                    {{this}}
                    <a href="#">More Details</a>
                </li>
                {{/each}}
            </ul>
            {{else}}
            <h5>Product currently not available.</h5>
            {{/if}}

        </section>
    </section>

  </body>
</html>